.orange{
    background-color: orange;
    width: 100%;
}
.parthalf{
   background-color: blue;
   width: 50%;
}
.parthalf2{
    background-color:green;
    width: 50%;
}
.partthird1{
    background-color: red;
    width: 33.3%;
}
.partthird2{
    background-color: yellow;
    width: 33.3%;
}
.partthird3{
    background-color:grey;
    width: 33.3%;
}

div{
    float: left;
    margin:0px;
    height: 230px;
    text-align: center;
    padding-top: 60px;
    

}
